body {

    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#taskbar {

    background: rgb(187, 46, 46);

    width: 100%;
    height: 80px;

    position:relative;
    top: 0%;
    left: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 5;

}

#title {

    text-align: center;
    font-family:'Times New Roman', Times, serif;

    position:absolute;
}

#themechanger{

    position: relative;
    right: 280px;
    cursor: pointer;

    border-radius: 100%;

    transition: background-color 0.5s;
}

#themechanger:hover {

    background-color: rgba(0, 0, 0, 0.199);
}

#themechanger:active {

    background-color: rgba(0, 0, 0, 0.753);
}

#searchbar {


    background: rgb(150, 26, 26);
    border-radius: 50px;
    border: 0;

    height: 35px;
    width: 250px;

    position: relative;
    left: 280px;

    font-size: 16px;
    text-align: center;
}

#searchbar:focus {

    outline: none;
    
}

#searchbar::placeholder{

    color: rgb(112, 9, 9);
    font-weight: bold;
}

#board {

    background: rgb(224, 224, 224);
    border-radius: 25px;

    width: 1000px;
    height: 800px;

    text-align: center;
    align-items: center;
    align-self: center;
    position:relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow: hidden;
}

#credits {

    background-color: rgb(31, 31, 31);

    width: 100%;
    height: 180px;

    position: relative;
    align-self: center;
    bottom: auto;

    display: flex;
    text-align: center;
    align-items: center;
}

.credito {

    color: white;
    position: relative;
    left: 50%;
    
}

.noticia {

    background: white;
    border-radius: 25px;

    width:450px;
    height:300px;

    margin: 25px;

    position: relative;
    cursor: pointer;

    display: flex;
    text-align: center;
    justify-content: center;
    overflow: hidden;

    transition: box-shadow 0.5s ease;
}

.noticia:hover {

    box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.205);
}

.noticia:hover .noticiatexto {

    transition: 0.1s;
    color:brown;
}

.noticia:hover .noticiaimagem {
    transform: scale(1.2);
}


.noticiatexto {

    color: rgb(187, 46, 46);

    font-weight: bold;
    font-size: 20px;

    position: relative;
    top: 45%
}

.tema {

    font-weight: bold;
    color: rgb(187, 46, 46);

    position: absolute;
    right: auto;
    top: 5%;
}

.noticiarodape {

    font-size: 14px;

    position:absolute;
    top:50%;
}

.noticiaimagem {

    position:absolute;
    size: relative;
    width: 100%;
    height: 100%;

    transition: transform 0.5s ease;
}

#lowboard {

    background: rgb(224, 224, 224);
    border-radius: 25px;

    width: 1000px;
    min-height: 600px;
    max-height: auto;


    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.noticiamenor {

    background: white;
    border-radius: 25px;

    width: 950px;
    height: 350px;

    margin: 25px;
    text-align: right;
    align-items:center;
    overflow: hidden;

    display: flex;
    flex-direction: row;

    cursor: pointer;

    transition: box-shadow 0.2s;
}

.noticiamenor:hover{

    box-shadow: 5px 5px 0px rgba(128, 128, 128, 0.205);
}

.noticiamenor:hover .noticiatextomenor {

    transition: 0.1s;
    color:brown;
}

.noticiatextomenor {

    color: rgb(187, 46, 46);

    font-weight: bold;
    font-size: 25px;

    margin: 30px;

    position: relative;
    bottom: 20%
}

.noticiaimagemmenor {

    position: relative;
    left: 0%;

    border-radius: 25px;
    margin: 20px;

    width: 300px;
    height: 300px;
}

.temamenor {

    font-weight: bold;
    color: rgb(187, 46, 46);

    position: relative;
    bottom: 30%;
    right: 16.5%;
}